$mobile-screen: 479px;
$large-table-screen: 991px;
$medium-table-screen: 767px;
@media (max-width: $large-table-screen) {
    .form-request-measures {
        width: 60%;
        height: 400px;
        float: left;
        margin: 70px 20% 50px 20%;
    }
    .first-line__main-photo-name {
        background-size: 100%;
        min-width: 681px;
    }
}

@media (max-width: $large-table-screen) {
    .proposes-in-circle {
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: $medium-table-screen) {
    .navbar {
        display: none;
    }
    .proposes-in-circle {
        display: none;
    }
    .form-request-measures {
        margin: 70px 5% 50px 5%;
        width: 90%;
        float: unset;
    }
    .video {
        width: 100%;
        top: 50px;
    }
    .completed-project-mobile {
        display: block;
    }
    .home__second-line {
        display: none;
    }
    .container-types-of-repair {
        background-color: black;
        color: white;
        margin-top: 5%;
    }
    .types-of-repair__request-camera {
        height: 300px;
        margin: 50px 0 20px 0;
    }
    .repair-types__type {
        width: 500px;
        margin-bottom: 150px;
    }
    .repair-types__type .type-description {
        top: 80%;
    }
    .form-request {
        display: block;
        background-color: black;
        border: 0;
        min-width: 0px;
        color: white;
        width: 100%;
        height: 300px;
        float: none;
        div {
            margin: 15px auto;
            font-family: FuturaDemiC, Arial, Helvetica, sans-serif;
            text-align: center;
        }
        label {
            font-family: FuturaBookC, Arial, Helvetica, sans-serif;
            color: rgba(255, 255, 255, 0.568);
            font-size: 12px;
            margin-bottom: 5px;
            display: block;
            width: 90%;
        }
        input[placeholder] {
            display: block;
            &::placeholder {
                color: white;
            }
            background-color: black;
            border: 0;
            color: white;
            border-bottom: 1px solid rgba(255, 255, 255, 0.562);
            width: 100%;
            height: 30px;
            margin-bottom: 15px;
        }
        #chekbox-2 {
            margin-right: 10px;
        }
        .label-check {
            color: white;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .submit-1 {
            background-color: #E3B873;
            font-family: FuturaDemiC, Arial, Helvetica, sans-serif;
            width: 60%;
            height: 40px;
            float: none;
            margin: 0 auto;
            margin-top: 10%;
            text-transform: uppercase;
            &:hover {
                background-color: white;
                color: #E3B873;
                border: 3px solid #E3B873;
                cursor: pointer;
            }
        }
    }
    .container-repair-styles__mobile {
        text-align: center;
        height: 249px;
        .main-image {
            margin: 0 auto;
            width: 90%;
        }
        .main-image .image {
            width: 100%;
            position: relative;
            bottom: -10vw;
            margin-top: calc(124px - 20vw);
            .left-right {
                position: absolute;
                border-radius: 50%;
                &:hover {
                    border: 2px solid white;
                }
            }
            .left-2 {
                top: 45%;
                left: 5%;
            }
            .right-2 {
                top: 45%;
                left: 85%;
            }
            .main-image-inner {
                width: 100%;
            }
        }
        display: block;
        .list__highlight {
            width: 100%;
            font-size: 1.5em;
        }
    }
    .container-repair-styles {
        display: none;
    }
    .design-project {
        background: black;
        height: max-content;
        padding-top: calc(34vw - 26px);
    }
    .design-project__highlight,
    .design-project__description {
        color: white;
    }
    .design-types__wrapper {
        margin: 0 auto;
        flex-flow: column;
        justify-content: center;
    }
    .design-types__type .design-description {
        position: relative;
        top: 46vw;
        left: -5%;
    }
    .design-types__type {
        margin: 0 auto;
        width: 65%;
        height: 88vw;
        margin-bottom: calc(200px - 23vw);
    }
    .design-types__type-2 {
        height: 107vw;
    }
    .design-types__type-3 {
        height: 123vw;
    }
    .steps-to-goal {
        display: none;
    }
    .our-team__persones {
        flex-flow: column;
        width: 100%;
        padding: 0px 0px;
    }
    .our-team__person {
        margin: 0 auto;
        width: 65%;
        height: 700px;
        margin-top: 50px;
        .experience {
            position: relative;
            bottom: -250px;
        }
        .name {
            position: relative;
            bottom: -260px;
            height: 150px;
        }
        img {
            bottom: 10vw;
        }
    }
    .our-clients__clients {
        flex-flow: column;
        width: 100%;
        .client {
            width: 65%;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
    .client__profile .name {
        font-size: 20px;
    }
    .form-questions {
        width: 100%;
    }
    .contacts__map {
        img {
            width: 90%;
        }
    }
}

@media (min-width: $medium-table-screen) and (max-width: $large-table-screen) {
    .repair-types__type .type-description {
        position: absolute;
        top: 50%;
        left: 5%;
    }
    .repair-types__type {
        margin-bottom: 150px;
    }
}

@media (max-width: $mobile-screen) {
    .home__first-line {
        display: block;
    }
    .main-photo-name__inner {
        margin-top: 4vh;
    }
    .first-line__aside {
        display: none;
    }
    .first-line__main-photo-name {
        background-size: 100%;
        h1 {
            font-size: 24px;
            font-weight: 400;
        }
    }
    .main-photo-name__buttons {
        display: block;
        .button {
            margin-bottom: 2vh;
        }
    }
    .navbar {
        display: none;
    }
    .button-request {
        display: none;
    }
    .button-submit-screen {
        display: none;
    }
    .button-submit-mobile {
        display: flex;
    }
    .first-line__scroll-down {
        display: none;
    }
    .main-photo-name__inner {
        width: 500px;
        height: 50%;
        margin-top: 0%;
        margin-left: 4.5%;
    }
    .repair-types__type {
        width: 95%;
        height: 111vw;
        min-width: 0px;
    }
    .repair-types__type .type-description {
        top: 66%;
    }
    .type-description__button-cost {
        height: 43px;
    }
    .design-types__type-3 {
        height: 150vw;
    }
    .our-team__person {
        width: 75%;
        height: 530px;
    }
    .our-team__person .name {
        bottom: -180px;
    }
    .our-team__person .experience {
        bottom: -165px;
    }
    .design-types__type {
        width: 95%;
    }
    .design-types__type .design-description {
        top: 60vw;
    }
    .our-clients {
        display: none;
    }
    .team__description {
        display: none;
    }
    .form-questions {
        bottom: 0;
        background-color: black;
        padding: 3% 10%;
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        .form-questions form .label-name-3 {
            grid-area: 1/1/2/2;
        }
        #name-3 {
            grid-area: 2/1/3/2;
        }
        .form-questions form .label-phone-3 {
            grid-area: 3/1/4/2;
        }
        #phone-3 {
            grid-area: 4/1/5/2;
        }
        #agree-3 {
            margin-bottom: 0px;
        }
    }
    .form-questions .form-questions__highlight {
        font-size: 20px;
    }
    .form-questions form .name-and-phone {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        input {
            margin-bottom: 15px;
        }
    }
    .form-questions form>.submit-3 {
        width: 100%;
    }
    .contacts {
        padding-top: 0px;
    }
    .contacts__map {
        grid-area: 1/1/2/2;
    }
    .footer {
        display: none;
    }
}